<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Wiki the World</p> <!-- Got to come up with a better subheading -->
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Trending Wikis</h2>
  </div>
  <div class="col-md-4">
    <h2>Top Editors</h2>
    <ul>
      <li class="center-block"><%= link_to "John Doe", "#" %></li>
      <li class="center-block"><%= link_to "Jane Flowers", "#" %></li>
      <li class="center-block"><%= link_to "Kate Rusby", "#" %></li>
  </div>
  <div class="col-md-4">
    <h2>New to Blocipedia?</h2>
    <p> Sign up for a free membership and get to know the community. Our editors are all friendly and ready to welcome you!</p>
  </div>  
</div>
